/*DISEÑO DE TODA LA PAGINA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ENCABEZADO*/
header {
    width: 100%;
    background: #141212;
    height: 75px;
}

.ancho {
    width: 90%;
    height: 70px;
    margin: auto;
}

.logo {    
    width: 30%;
    height: 75px;
    float: left;   
    box-sizing: border-box;
}

nav {
    width: 70%;
    height: 75px;
    float: left;   
    text-align: right; 
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: #6E9C3A;    
}

/*MENU VERTICAL*/
.cuerpo-menu-vertical{
    background-color: #141212;
    width: 180px;
    height: 555px;
    padding-top: 30px;
}

.cuerpo-menu-vertical a:hover{
    color: #6E9C3A;
    margin-left: 10px;
}

.seleccion a{
    font-weight: 600;
}

.submenu-vertical .sin-seleccion a{
    color: rgb(103, 103, 103);
}

.submenu-vertical .sin-seleccion a:hover{
    color: #6E9C3A;
}

.menu-vertical li a{
    text-decoration: none;
    color: #fff;    
}

.menu-vertical li ul li{
    margin-left: -20px;
}

.submenu-vertical>li{
    font-weight: 300;
    list-style: none;
}

.menu-vertical>li{
    list-style: none;
    width: 150px;    
    font-weight: 600;
}

/*DISEÑO DE CUERPO*/
.body{
    margin: 0;
    background: #E5EEF9;
    justify-content: center;
    flex-direction: column;   
    min-height: 100vh;
	grid-template-rows: auto 1fr auto;
    position: relative;
    height: 100%;    
}

.cuerpo {
    padding: 0.5em 0;
    width: 70%;    
    margin-top: -45%;
    margin-bottom: -8%;
    margin-left: 15%;
    overflow: hidden;
    padding-bottom: 81px;

    height: 554px;
	width: 85%;
	overflow-y: scroll;    
}

.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #6E9C3A, #6E9C3A);
}

.contenedor{
    margin-left: 5%;
    margin-right: 50%;
}




.botones li{
    display: flex;
    float: left;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    margin-top: 1%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.botones li a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #E5EEF9;
    margin: 10px;
}

.botones li a:hover{
    color: #6E9C3A;
    font-weight: bold;
}

.botones .boton-cancelar{
    background-color: red;
}

.botones .boton-volver{
    background-color: #6262AA;
}

.botones .boton-agregar{
    background-color: #6262AA;
}


/*PIE DE PAGINA*/
.pie {
    background: #E5EEF9;
    clear: both;
    margin: auto;
    display: flex;
    justify-content: center;
    float: center;
    padding: 1em 0;
    
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.pie_1 {
    width: 33%;
    float: center;
    margin-left: 1%;
    margin-right: 5%;
}

.pie_iconos {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.pie_iconos a {
    text-decoration: none;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: black;
    transition: all .10s ease-in-out;    
}

.pie_iconos a:hover {
    transform: scale(1.2);
    color: #6E9C3A;
}

.copyright {
    width: 33%;
    float: center;
    display: flex;
    justify-content: right;
    margin-right: 5px;
}