/*DISEÑO DE TODA LA PAGINA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ENCABEZADO*/
header {
    width: 100%;
    background: #141212;
    height: 75px;
}

.ancho {
    width: 90%;
    height: 70px;
    margin: auto;
}

.logo {    
    width: 30%;
    height: 75px;
    float: left;   
    box-sizing: border-box;
}

nav {
    width: 70%;
    height: 75px;
    float: left;   
    text-align: right; 
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: #6E9C3A;    
}


/*DISEÑO DE CUERPO*/
.body{
    margin: 0;
    background: #E5EEF9;
    justify-content: center;
    flex-direction: column;   
    min-height: 100vh;
	grid-template-rows: auto 1fr auto;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.cuerpo {
    padding: 2em 0;
    width: 90%;
    margin: auto;
    margin-top: -12%;
    margin-bottom: -8%;
    overflow: hidden;
    padding-bottom: 81px;
}

.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #6E9C3A, #6E9C3A);
}

/*TABLAS*/
.tabla1{
    border: #E5EEF9 5px solid;
}

.tabla1 th{
    border: rgb(208, 208, 208) 0.5px solid;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #87b4e0;
    height: 50px;
}

.tabla1 td{
    border: rgb(208, 208, 208) 0.5px solid;
    text-align: center;
    font-weight: bold;
    height: 35px; 
    background-color: #fff;
}

.tabla1 input{
    border: none;
    outline: none;
}

.tabla1 select{
    border: none;
    outline: none;
}

.tabla2{
    border: #E5EEF9 5px solid;
}

.tabla2 th{
    border: rgb(208, 208, 208) 0.5px solid;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #87b4e0;
    height: 50px;
    width: 100px;
}

.tabla2 td{
    border: rgb(208, 208, 208) 0.5px solid;
    text-align: center;
    font-weight: bold;
    height: 35px; 
    background-color: #fff;
}

.tabla2 input{
    border: none;
    outline: none;
}


.id_tabla1 input{
    border: 1px solid red;
}


/*BOTONES*/
.botones{
    margin-right: 51.4%;
    text-align: center;
}

.botones input{
    width: 150px;
    height: 40px;   
    margin: 2px;
    border: 1px solid #2e518b;
    border-radius: 50px;
    background-color: #6262AA ;
    color: #E5EEF9;
    line-height: 30px;
    font-size: 20px;
}

.botones input:hover{
    color: #6E9C3A;
    font-weight: bold;
}

.tabla1 button {
    border: none;
    background-color: #fff;
}

.tabla1 button:hover {
    transform: scale(1.2);
}


/*PIE DE PAGINA*/
.pie {
    background: #E5EEF9;
    clear: both;
    margin: auto;
    display: flex;
    justify-content: center;
    float: center;
    padding: 1em 0;
    
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.pie_1 {
    width: 33%;
    float: center;
    margin-left: 1%;
    margin-right: 5%;
}

.pie_iconos {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.pie_iconos a {
    text-decoration: none;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: black;
    transition: all .10s ease-in-out;    
}

.pie_iconos a:hover {
    transform: scale(1.2);
    color: #6E9C3A;
}

.copyright {
    width: 33%;
    float: center;
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

/* PAGINA RESPONSIVA
/* Estilos para pantallas con un ancho máximo de 768px (Tablets y dispositivos móviles en posición horizontal) */
/* @media only screen and (max-width: 768px) {
    .cuerpo {
        padding: 1em;
    }

    .botones {
        margin-right: 0;
        text-align: center;
    }

    .botones input {
        width: 100px;
        height: 30px;
        margin: 2px;
        font-size: 14px;
    }
} */

/* Estilos para pantallas con un ancho máximo de 768px (Tablets y dispositivos móviles en posición horizontal) */
/* @media only screen and (max-width: 768px) {
    .header {
        padding: 0.5em;
        text-align: center;
    }
    
    .footer {
        padding: 0.5em;
        text-align: center;
    }
    
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    th, td {
        text-align: center;
    }
    
    .botones {
        text-align: center;
    }
    

    
} */

